@import "../variables";

.available-hotels {
  border-top: 1px solid $bg-variant;
  background-color: $general-white;
}
.available__container {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
