@import "../variables";

.available-hotels {
  border-bottom: 1px solid $bg-variant;
  background-color: $bg-variant;
}
.available__container {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
