@import 'src/scss/variables';

.menu {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 48px 0 0;
}
.list {
  display: flex;
}
.item {
  margin: 0 24px 0 0;
  &:last-child {
    margin: 0;
  }
}
.link {
  position: relative;
  font-size: 24px;
  line-height: 117%;
  padding-bottom: 20px;
  color: $general-white;
  &:after {
    content: '';
    position: absolute;
    width: 92%;
    border-bottom: 4px solid $hover-yellow;
    left: 4px;
    top: 40px;
    opacity: 0;
    transition: all 300ms;
  }
}
.link:hover:after {
  opacity: 1;
}