@import 'src/scss/variables';

.check {
  &__wrapper {
    position: relative;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
    border: 1px solid $variant-color;
    border-radius: 8px;
    &:hover {
      border: solid $hover-yellow;
      border-radius: 8px;
    }
    &:focus {
      border: solid $hover-yellow;
      border-radius: 8px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    color: $text-color;
  }
}

.check__calendar {
  font-family: Roboto, sans-serif;
  color: $variant-black;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  left: 510px;
  top: 75px;
  width: 290px;
  height: 272px;
  background: $general-white;
  border-radius: 8px;
}
.react-calendar__tile--active {
  background: $secondary-text;
  color: $variant-black;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: $secondary-text;
}
.react-calendar__month-view__days__day--weekend {
  color: $secondary-text;
}
.react-calendar__tile--now {
  background: transparent;
}
.react-calendar__tile--now:hover {
  background: transparent;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
abbr[title] {
  text-decoration: none;
}
