$general-blue: rgb(48 119 198);
$bg-blue: #10367c;
$bg-variant: #EAF0F9;
$variant-black: #4d4d4d;
$variant-color: #cecece;
$general-white: #fff;
$hover-yellow: #f5bd41;
$stroke-color: #f3f3f4;
$text-color: #383838;
$secondary-text: #bfbfbf;
$dark-mode-1: rgb(18 18 18 / 25%);
$col-width: calc(100% / 12);
